@media (max-width:768px){
    nav{
        width: 70vw;
        z-index: 2;
        height: 100vh;
        box-sizing: border-box;
        padding-top: 50px;
        left: -100vw;
        transition: all 0.5s;
    }
    .nav_active{
        left: 0;
    }
    .hamburger{
        display: block;
    }
    footer{
        text-align: center;
    }
    main{
        padding: 20px 10px;
    }
}
@media (max-width:425px){
    .showcase img, .member, ul{
        margin: 10px 0;
    }
    nav{
        width: 100vw;
    } 
}
@media (max-width:320px){

}