body{
    font-family: "Popins", sans-serif;
    line-height: 1.5;
    margin: 0;
}
nav{
    position: fixed;
    background-color: #45015d;
    width: 250px;
    height: 100%;
    top: 0;
    left: 0;
    border-top-right-radius:10px ;
    padding: 10px;
}
nav h3{
    color: white;
    font-size: 22px;
}
nav a{
    color: white;
    text-decoration: none;
    display: block;
    font-weight: bold;
    padding: 10px 0 10px 15px;
    transition: all 0.3s;
    outline: none; 
}
nav a:hover{
    background-color: white;
    color: #45015d;
}
main{
    padding: 80px 40px 0 360px;
}
.hamburger{
    width: 50px;
    height: 50px;
    position: fixed;
    background-color: white;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0 5px 10px #45015d6c;
    display: none;
    z-index: 3  ;
}
.hamburger span{
    width: 40px;
    height: 2px;
    background-color: #45015d;
    display: block;
    position: absolute;
    transition: all 0.5s;
    left: 5px;
}
.hamburger span:nth-child(1){
    top: 15px;
}
.hamburger span:nth-child(2){
    top: 50%;
    margin-top: -1px;
}
.hamburger span:nth-child(3){
    bottom: 15px;
}
.hamburger_active span:nth-child(2){
    opacity: 0;
}
.hamburger_active span:nth-child(1){
    transform: rotate(-45deg);
    margin-top: 9px;
}
.hamburger_active span:nth-child(3){
    transform: rotate(45deg);
    margin-bottom: 8px;
}
h1{
    font-size: 64px;
    font-weight: 400;
}
h2{
    font-size: 48px;
    font-weight: 400;
    color: #45015d;
}
hr{
    height: 10px;
    background-color: #45015d;
    border-radius: 10px;
    border: none;
}
.showcase img{
    width: 45%;
    border-radius: 10px;
    margin: 10px;
    opacity: 0.7;
    transition: all 0.3s;
    min-width: 300px;
}
.showcase div{
    text-align: center;
}
.showcase img:hover{
    opacity: 100;
}
.member{
    width: 30%;
    display: inline-block;
    margin: 10px;
    min-width: 300px;
}
.member img{
    width: 100%;
    border-radius: 10px;
}
.info{
    background-color: #e7e7e7;
    border-radius: 10px;
    text-align: left;
    padding: 10px   ;
}
.position{
    color: grey;
}
.team__list{
    text-align: center;
}
.packages__list{
    text-align: center;
}
 ul{
     list-style-type: none;
     display: inline-block;
     width: 45%;
     background-color: #e7e7e7;
     padding: 0;
     text-align: center;
     border-radius: 10px;
     margin: 10px;
     min-width: 300px;
 }
.name{
    background-color: #45015d;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 26px 0;
}
li{
    border-bottom: 1px grey solid;
    border-radius: 10px;
    padding: 16px 0;
}
li span{
    display: block;
    color: grey;
    font-size: 14px;
}
.cost{
    font-size: 22px;
}
li button{
    background-color: #45015d;
    color: white;
    font-size: 16px;
    padding: 10px 16px;
    border: 1px #45015d solid;
    border-radius: 10px;
    transition: 0.3s;
    outline: none;
}
li button:hover{
    background: transparent;
    color: #45015d;
}
.pro{
    background-color: #ff6219;
}
button.pro{
    border-color: #ff6219;
}
button.pro:hover{
    color: #ff6219;
}
input,textarea,form button{
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #45015d;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
    outline: none;
    font-size: 16px;
    box-shadow: 0px 0px 10px grey;
    transition: 0.3s;
}
form button{
    background-color: #45015d;
    color: white;
    transition: 0.3s;
}
form button:hover{
    color: #45015d;
    background-color: white;
}
input:focus, textarea:focus{
    box-shadow: 0px 0px 15px #45015d;
}
footer{
    background-color: #45015d;
    color: white;
    padding: 50px 25px;
    position: relative;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
